* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
} 

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  cursor: url('../images/cursor/cursor1.png'), auto;
}

a:hover{
  cursor: url('../images/cursor/cursor2.png'), auto;
}
a:link {
  color: #707070;
}
a:visited {
  color: #707070;
}

body::-webkit-scrollbar {
  width:15px;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 5px;
}


/* ...................................................... */


header {
  background-color: rgb(255, 255, 255);
  height: 175px;
}

#containerLogoPrincipal {
  display: flex;
  justify-content: center;
}

#logoPrincipal {
  padding: 30px;
}

.navbar {
  padding: 2px;
  display: flex;
  justify-content: center;
  font-size: 1px; font-weight:500;
  position: relative;
  top: 0;
}

.navbar__link:hover {
  background-color: #ffffff ;
  border-radius: 5px;
  outline: solid;
  outline-color: #acacac;
  font-weight: 600;
  color: #555555;
  outline-width: 0.1px;
  border-radius: 20px;
  background: #e0e0e0;

}

.navbar__link {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
}

.navegador__submenu {
  display: none;
  float: left;
  overflow: hidden;
}

/* 
PRUEBA - NO TENER EN CUENTA ESTE CÓDIGO 
  .searchBox {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%,-50%);
  background: #aaaaaa;
  height: 40px;
  border-radius: 40px;
  padding: px;
}

.searchBox:hover > input {
  width: 200px;
  padding: 0 10px;
}

.searchBox:hover > .icon {
  background: #000000;
}

.icon:hover {
  transform: rotate(360deg)
  scale(0.8)
}

input {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  color: rgb(0, 0, 0);
}

.icon {
  color: #21DFCD;
  float: right;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
} */


/* ...................................................... */

/* 

!!! - CONSULTA ALE
Por qué se agrega un padding right y bottom en la imagen/banner

*/
.index_imgWrap {
  height: 300px; /* 525 */
  background-attachment: scroll;
  overflow-y: scroll;
}

.index__Imgbanner {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index_imgWrap::-webkit-scrollbar {
  scrollbar-width: 2px;
  scroll-behavior: smooth;
}

.index_imgWrap::-webkit-scrollbar-thumb {
  scrollbar-width: none;
}

.mainContainer {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerCard {
  display: inline-flex;
  justify-content: center;
  align-content: center;  
  padding: 10px;
  margin: 25px;

  background: rgba(255, 255, 255, 0.35);
  box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.5);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border-radius: 20px;
} 

.articleCard {
  width: 300px;
  height: 550px;
  border-radius: 20px;
  border: 2px solid rgba(70, 69, 69, 0.35);
  overflow: hidden;
  position: relative
}

.articleCard > img {
  z-index: -1;
  inset: 0;

  width: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0px 0px;

  transition: transform 200ms;
}

.articleCard:hover > img {
  transform: scale(1.05);
}

.titleCard {
  color: #000000;
  text-align: center;
  padding: 10px 30px 10px 30px;

}

.textCard {
  color: #000000;
  width: 100%;
  padding: 10px 30px 10px 30px;
}

.announceMain {
  width: 100%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}


/* ...................................................... */


.footerStyle {
  background-color: #24262b;
  font-style: normal;
}

.containerRrss {
  max-width: 1090px;
  margin: auto;
  padding: 40px 0 40px;
  background-color: #24262b;
}

.rowRrss {
  display: flex;
  flex-wrap: wrap;
}

.containerRrss ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
}

.footer-colRrss {
  width: 25%;
  padding: 0 15px;
}

.footer-colRrss h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}

.footer-colRrss h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #bbbbbb;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-colRrss ul li:not(:last-child){
  margin-bottom: 10px ;
}

.footer-colRrss ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-colRrss ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-colRrss .socialLinks a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin-right: 10px;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-colRrss .socialLinks a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/* Responsive - editar corte de resolución */

@media(max-width: 800px) {
  .footer-colRrss {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 550px) {
  .footer-colRrss {
    width: 100%;
  }
}

#cite {
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: smaller;
  
}

#cite span {
  font-weight: bold;
}



/* ...................................................... */

 .button {
  position: relative;
  display: inline-block;
  padding: 1em 2em 0.85em 2em;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
  border-bottom: 5px solid black;
  transition: color 200ms ease;
  transition-property: color, background-color, transform;
  z-index: 1;
 }
 
 .button:hover {
  color: white;
 }
 
 .button:hover:before {
  width: 100%;
  height: 100%;
  top: auto;
  bottom: 0;
 }
 
 .button:active {
  transform: translateY(4px)
 }
 
 .button:before {
  content: '';
  position: absolute;
  display: block;
  margin: 0 auto;
  height: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #000000;
  transition: height 0.2s ease;
 }


 /*TRABAJOS...................................................... */



/* .galleryTitleTrabajos {
  
}
 */
.galleryBannerTrabajos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.galleryContainerTrabajos {
  width: 90%;
  max-width: 1200%;
  margin: auto;
  padding: 40px 0;



  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 20px;
  grid-gap: 10px;
}

/* .galleryItemTrabajos {
  
} */

.galleryImageTrabajos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 800px) {
  .galleryContainerTrabajos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    padding: 20px;
    grid-gap: 10px;
  }
}

@media(max-width: 550px) {
  .galleryContainerTrabajos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding: 20px;
    grid-gap: 10px;}
}


 /*CONTACTO...................................................... */

#mainContact {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550PX;
}


.containerContact {
  padding: 2em;
  margin: 2em;
  max-width: 900px;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 15px -6px rgba(0,0,0,0.5);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border-radius: 20px;
  font-weight: 400;
}

/* .formItem2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 20px;
  grid-gap: 10px;
} */


.formContact {
/*   display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px; */
 
}

.blockForm {
  grid-column: 1 / 3;
}


.formContact {
  margin: 0;
  padding: 1em;
}

.formContact input,
.formContact textarea,
.formContact button {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 20px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #24262b;
}

.formContact button {
  width: 100%;
  padding: 16px;
  margin-top: 30px;
  background: #acacac;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
}

.infoContact {
  width: 100%;
  margin: 40px 0px 0px 0px;
  padding: 15px;
  background-color: #24262b;
  border-radius: 5px;
  color: #ffffff;
  text-align: left;
}

.infoContact ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 10px 0px 10px 0px;
}
.infoContact h4 {
font-weight: 700 ;
text-transform: capitalize;
}

.formContact input[type="checkbox"] {
  width: auto;
  height: auto;
  border: 2px solid #000000;
  margin-left: 30px;
}
input[type="checkbox"]:checked {
  width: auto;
  height: auto;
  border: 2px solid #000000;
  box-shadow: 0 0 0 3px rgb(0, 0, 0);
}


/* RESPONSIVE */
@media(min-width: 800px) {
    .formContact {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: auto;
      grid-gap: 10px; 
      }
  }
}


